<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sistema Biblioteca Acadêmica</title>
</head>
<body>
<h1>Bem-vindo ao Sistema da Biblioteca</h1>
<ul>
    <li><a href="cadastroUsuario.html">Cadastrar Usuário</a></li>
    <li><a href="cadastroLivro.html">Cadastrar Livro</a></li>
    <li><a href="listarLivros.html">Listar Livros</a></li>
    <li><a href="registrarEmprestimo.html">Registrar Empréstimo</a></li>
    <li><a href="registrarDevolucao.html">Registrar Devolução</a></li>
</ul>
</body>
</html>
