<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listagem de Livros</title>
</head>
<body>
<h2>Livros Cadastrados</h2>

<form method="get" action="livro">
    <button type="submit">Atualizar Lista</button>
</form>

<table border="1" id="tabelaLivros">
    <thead>
    <tr>
        <th>ISBN</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Editora</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <!-- Os dados da tabela serão preenchidos pelo servlet LivroServlet -->
    </tbody>
</table>
</body>
</html>
